<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Book title</ion-label>
      <ion-input type="text" #bookTitleCtl></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addBook(bookTitleCtl.value)">Add</ion-button>

    <ion-item *ngFor="let book of books$|async">
      <ion-label>{{book.title}}</ion-label>
      <ion-button slot="end" (click)="removeBook(book.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


</ion-content>
