<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/TESTING"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ (testId$$|async) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let multiple of (multiples$$|async)">
      <ion-label>
        {{ multiple.title() }} = {{ multiple.value }}
        <span style="padding-left: 20px;">{{multiple.successes}}/{{multiple.successes + multiple.fails}}</span>
      </ion-label>
      <ion-button slot="end" (click)="increment(multiple.id, 'successes', $event)">+</ion-button>
      <ion-button slot="end" color="danger" (click)="increment(multiple.id, 'fails', $event)">+</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
