<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  routerLink="/auth">
        <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/training" expand="outline" style="display:block;">TRAINING</ion-button>
  <ion-button routerLink="/test" expand="outline" style="display:block;">TEST</ion-button>
  <ion-button routerLink="/statistics" expand="outline" style="display:block;" color="medium">STATISTICS</ion-button>
</ion-content>

