
<div>

  <app-toggle-button [value]="1">
    <ion-button [shape]="'round'" [size]="'small'">1</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="2">
    <ion-button [shape]="'round'" [size]="'small'">2</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="3">
    <ion-button [shape]="'round'" [size]="'small'">3</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="4">
    <ion-button [shape]="'round'" [size]="'small'">4</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="5">
    <ion-button [shape]="'round'" [size]="'small'">5</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="6">
    <ion-button [shape]="'round'" [size]="'small'">6</ion-button>
  </app-toggle-button>

</div>


<div>

  <app-toggle-button [value]="7">
    <ion-button [shape]="'round'" [size]="'small'">7</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="8">
    <ion-button [shape]="'round'" [size]="'small'">8</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="9">
    <ion-button [shape]="'round'" [size]="'small'">9</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="10">
    <ion-button [shape]="'round'" [size]="'small'">10</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="11">
    <ion-button [shape]="'round'" [size]="'small'">11</ion-button>
  </app-toggle-button>

  <app-toggle-button [value]="12">
    <ion-button [shape]="'round'" [size]="'small'">12</ion-button>
  </app-toggle-button>

</div>
